<!-- Contenedor principal del formulario. Lo centra en la pantalla. -->
<div class="contenedor-grid">
    <!-- Ajusta la imagen y el formulario uno al lado del otro. -->
    <div class="grid-formulario">
        <!-- Imagen decorativa del formulario (No se ve en móviles). -->
        <div class="contenedor-img">
        </div>
        <!-- Base del formulario (Sus inputs pueden variar según se necesite). -->
        <div class="contenedor-form">
            <form (ngSubmit)="enviar()" #enviado="ngForm">
                <!-- Logo de la fundación y del proyecto. -->
                <div class="contenedor-logos">
                    <img src="../../assets/logo-fundacion-loyola.png" alt="Logotipo de la Fundación Loyola"/>
                    <img src="../../assets/logo-proyecto-horizontal.png" alt="Logotipo del proyecto"/>
                </div>
                <!-- Inputs a añadir. -->
                <app-inputs-formulario></app-inputs-formulario>
            </form>
        </div>
    </div>
</div>