main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background-color: whitesmoke;
}
.grid-formulario{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-height: 380px;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.5);
    background-color: white;
}
.contenedor-img{
    background: url("../../assets/camino-ignaciano.jpg") no-repeat fixed;
    background-size: cover;
}
.grid-formulario form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
}
.contenedor-form .contenedor-logos{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}
.contenedor-form .contenedor-logos img{
    width: 80%;
    height: auto;
}
.contenedor-form .inputs-form{
    display: grid;
    grid-template-columns: 90%;
    row-gap: 1rem;
    margin: 1rem 0;
}
.contenedor-form h2{
    color: #FDBD0D;
    font-weight: 800;
}
.contenedor-form label{
    color: #39D070;
    font-weight: 600;
}
.contenedor-form button{
    width: max-content;
    padding: .9rem;
    background-color: #39D070;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}
.contenedor-form button:hover{
    background-color: #30b460;
}
.contenedor-form input{
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:8px;
    transition:.3s;
}
.contenedor-form input:focus{
    border-color: #39D070;
    box-shadow:0 0 8px 0 #39D070;
}
@media(max-width: 960px){
    .grid-formulario{
        width: 80%;
    }
}
@media(max-width: 540px){
    .contenedor-img{
        display: none;
    }
    .grid-formulario{
        width: 90%;
        grid-area: 1fr;
    }
    .grid-formulario{
        grid-template-columns: minmax(0, 1fr);
    }
}