<main>
    <div class="grid-formulario">
        <div class="contenedor-img">
        </div>
        <div class="contenedor-form">
            <form action="#" method="post" (ngSubmit)="eventoLogin($event)">
                <div class="contenedor-logos">
                    <img src="../../assets/logo-fundacion-loyola.png" alt="Logotipo de la Fundación Loyola"/>
                    <img src="../../assets/logo-proyecto-horizontal.png" alt="Logotipo del proyecto"/>
                </div>
                <app-inputs-formulario></app-inputs-formulario>
            </form>
        </div>
    </div>
</main>