<form id="altaEtapa" [formGroup]="formulario" (ngSubmit)="anyadir()">
    <h1>AÑADIR ETAPA</h1>
    <input id="idEtapa" type="text" placeholder="Identificador de la Etapa" formControlName="idEtapa"><br />
    <div class="errorDatos" *ngIf="idEtapa.invalid && (idEtapa.dirty )">
        Error, el identificador debe ser de 1 o 2 cifras
    </div>
    <input id="dur" type="text" placeholder="Duracion" formControlName="duracion"><br />
    <div class="errorDatos" *ngIf="duracion.invalid && (duracion.dirty )">
        Error, la duracion debe ser en el formato HH:MM
    </div>
    <input id="long" type="text" placeholder="Longitud de la Etapa (km's)" formControlName="longitud"><br />
    <div class="errorDatos" *ngIf="longitud.invalid && (idEtapa.dirty )">
        Error, los kilometros deben terminar en "km"
    </div>
    <div id="insertarArchivo">
      Imagen de la Etapa
      <input id="img" type="file"  formControlName="img">
      <label for="img">Archivo</label>
    </div>
    <br />
    
    <input id="btnAnadir" type="submit" value="AÑADIR">
   
</form>
