
<form id="altaEtapa" [formGroup]="formulario" (ngSubmit)="anyadir()">
    <h1>AÑADIR ETAPA</h1>
    <input id="idEtapa" type="text" placeholder="Identificador de la Etapa" [value]="id" formControlName="idEtapa"  ><br />
   
    <input id="dur" type="text" placeholder="Duracion (HH:MM)" formControlName="duracion"><br />
    <div class="errorDatos" *ngIf="duracion.invalid && (duracion.dirty )">
        Error, la duracion debe ser en el formato HH:MM
    </div>
    <input id="long" type="text" placeholder="Longitud de la Etapa (km's)" formControlName="longitud" ><br />
    <div class="errorDatos" *ngIf=" longitud!.touched && longitud.invalid && longitud.errors.pattern">
        Error, en la validacion del campo longitud
    </div>
    <div id="insertarArchivo">
      Imagen de la Etapa
      <input #imageInput id="img" type="file"  formControlName="img" accept="imagen/*" (change)="procesarImagen(imageInput)">
      <label for="img">Archivo</label>
    </div>
  <div>
    Poblacion de inicio <br />
    <select  formControlName="selectInicio">
       <option *ngFor="let res of respuesta" value="{{res.idPoblacion}}">{{res.nombrePoblacion}}</option>

    </select><br/>
  </div>
  <div class="errorDatos" *ngIf="selectInicio!.invalid && selectInicio!.touched">
    Error en la Poblacion de inicio
  </div>
  <div>
  Poblacion de final <br />
    <select  formControlName="selectFinal">
      <option *ngFor="let res of respuesta" value="{{res.idPoblacion}}">{{res.nombrePoblacion}}</option>

    </select>
    <div class="errorDatos" *ngIf="selectFinal!.invalid && selectFinal!.touched">
      Error en la Poblacion de inicio
    </div>  
  </div>
    <br />
    <div class="errorDatos" *ngIf="idEtapa.invalid && (idEtapa.dirty )">
        
    </div>
    <input id="btnAnadir" type="submit" value="AÑADIR" [disabled]="idEtapa.invalid || duracion.invalid || longitud.invalid ">

</form>
