<h1>TODAS LAS ETAPAS DISPONIBLES</h1>
<table>
  <tr>
    <td>
    <div class="contenedor">
      <img src="Archivos/Camino.png" class="etapas">
      <h2 class="textoCentrado" for="contenedor">
        Loyola<br>
        <span class="letrapequena">0km</span>
      </h2>
    </div>
  </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino2.png" class="etapas">
        <h2 class="textoCentrado" for="contenedor">
          Loyola - Zumarraga<br>Euskadi<br>
          <span class="letrapequena">18,2km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino3.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Zumarraga Arantzazu<br>Euskadi
          <span class="letrapequena">21,4km</span></h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino4.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Arantzazu - Araia<br>Euskadi<br>
          <span class="letrapequena">18km</span>
        </h2>
      </div>
    </td>
  </tr>
  <!--ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
  <tr>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino5.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Alda - Genevilla<br>Euskadi<br>
          <span class="letrapequena">18,5km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino6.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Genevilla Laguardia<br>Euskadi<br>
          <span class="letrapequena">27,3km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino7.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Laguardia Navarrete<br>La Rioja<br>
          <span class="letrapequena">21,4km</span></h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino8.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Navarrete Logroño<br>La Rioja<br>
          <span class="letrapequena">13km</span>
        </h2>
      </div>
    </td>
  </tr>
  <!--ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
  <tr>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino9.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Logroño Alcanadre<br>La Rioja<br>
          <span class="letrapequena">30,6km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino10.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Alcanadre Calahorra<br>La Rioja<br>
          <span class="letrapequena">21,5km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino11.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Calahorra Alfaro<br>La Rioja<br>
          <span class="letrapequena">25,6km</span></h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino12.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Alfaro Tudela<br>Navarra<br>
          <span class="letrapequena">25,6km</span>
        </h2>
      </div>
    </td>
  </tr>
  <!--ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->
  <tr>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino13.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Tudela Gallur<br>Navarra<br>
          <span class="letrapequena">39,3km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino14.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Gallur Alagon<br>Aragon<br>
          <span class="letrapequena">27,3km</span>
        </h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino15.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Alagon Zaragoza<br>Aragon<br>
          <span class="letrapequena">21,7km</span></h2>
      </div>
    </td>
    <td>
      <div class="contenedor">
        <img src="Archivos/Camino16.png" class="etapas">
        <h2 class="textoCentrado" for="etapa1">
          Zaragoza Fuentes Ebro<br>Aragon<br>
          <span class="letrapequena">30,5km</span>
        </h2>
      </div>
    </td>
  </tr>
</table>
