<!--<h1>{{title}}</h1>
<nav>
    <li><a routerLink="/alta">Alta cuaderno</a></li>
    <li><a routerLink="/mostrar">Mostrar cuaderno</a></li>
    <li><a routerLink="/eliminar">Eliminar cuaderno</a></li>
    <li><a routerLink="/modificar">Modificar cuaderno</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/alta-usuario">Alta</a></li>
    <li><a routerLink="/alta-vivencia">AltaVivencia</a></li>
    <li><a routerLink="/consultar-vivencia">ConsultarVivencia</a></li>
    <li><a routerLink="/borrado-vivencia">BorradoVivencia</a></li>
    <!-- <li><a routerLink="/alta-etapa">AltaEtapa</a></li>  -->
    <!--<li><a routerLink="/alta-poblaciones">AltaPoblaciones</a></li>
    <li><a routerLink="/altaetapas">Alta Etapas</a></li>
    <li><a routerLink="/borradoetapas">Borrado Etapas</a></li>
    <li><a routerLink="/listadoetapas">Listado Etapas</a></li>
</nav>

<router-outlet></router-outlet>
-->
<header>
  <nav>
    <a href="#"><img src="assets/logo-proyecto-horizontal.png" alt="Logotipo del proyecto"/></a>
    <button name="button" (click)="mostrarMenu()"><i class="bi bi-list"></i></button>
    <ul>
      <li><a href="#">INICIO</a></li>
      <li><a href="#">NOSOTROS</a></li>
      <li><a href="#">CONTACTO</a></li>
      <li><button name="login"><i class="bi bi-key-fill"></i></button></li>
    </ul>
  </nav>
  <aside>
    <ul>
      <li>
        <a routerLink="/login"><i class="bi bi-person-fill"></i></a>
        <span>Usuarios</span>
      </li>
      <li>
        <a routerLink="/mostrar"><i class="bi bi-journal-bookmark-fill"></i></a>
        <span>Cuadernos</span>
      </li>
      <li>
        <a routerLink="/alta-poblaciones"><i class="bi bi-geo-alt-fill"></i></a>
        <span>Poblaciones</span>
      </li>
      <li>
        <a href="#"><i class="bi bi-trophy-fill"></i></a>
        <span>Etapas</span>
      </li>
      <li>
        <a routerLink="/consultar-vivencia"><i class="bi bi-cloud-sun-fill"></i></a>
        <span>Vivencias</span>
      </li>
    </ul>
  </aside>
</header>
<main>
  <section>
    <article>
      <router-outlet></router-outlet>
    </article>
  </section>
  <footer>
  </footer>
</main>
