<form id="borrarEtapa">
      <h1>BORRAR ETAPA</h1>
        <select id="seleccionarEtapa">
          <option value="Seleccion">Selecciona una Etapa</option>
          <option value="Etapa1">Etapa 1</option>
          <option value="Etapa2">Etapa 2</option>
          <option value="Etapa3">Etapa 3</option>
          <option value="Etapa4">Etapa 4</option>
          <option value="Etapa5">Etapa 5</option>
        <!--div class="errorDatos" *ngIf="seleccionarEtapa.invalid && (seleccionarEtapa.dirty )">
            Error, debes seleccionar una etapa para borrar
        </div-->
      </div>
      <input id="btnBorrar" type="submit" value="BORRAR">
</form>
