<div class="contenedor-grid">
    <div class="grid-formulario">
        <!-- Div Imagen -->
        <div class="contenedor-img">
        </div>
        <div class="contenedor-form">
            <form enctype="multipart/form-data">
                <!-- Contenedor logos -->
                <div class="contenedor-logos">
                    <img src="../angularvivencias/assets/logo-fundacion-loyola.png" alt="Logotipo de la Fundación Loyola">
                    <img src="../angularvivencias/assets/logo-proyecto-horizontal.png" alt="Logotipo del proyecto">
                </div>
                <!-- Número de etapa -->
                <div></div>
                <label for="etapa">Etapa</label>
                <select name="etapa" [(ngModel)]="json.datos.idEtapa">
                    <option *ngFor="let etapa of etapas" value="{{etapa['idEtapa']}}">{{etapa['idEtapa']}}</option>
                </select> <br />
                <!-- descripcion -->
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion" cols="40" rows="5" [(ngModel)]="json.datos.texto"></textarea>
                <!-- input de imagen -->
                <div class="inputs-form">
                    <label for="insertar">Insertar imagen</label>
                    <input type="file" name="imagen[]" id="imagen" [(ngModel)]="json.datos.foto" multiple>
                    <label for="imagen" id="archivo">Imagen</label>
                </div>
                <!-- Botones -->
                <input type="submit" name="enviar" value="Enviar" class="boton" (click)="enviar()">
                <input type="submit" name="cancelar" value="Cancelar" class="boton" id="btnCancelar">
            </form>
            <h2 *ngIf="estado == true">Se ha creado la vivencia {{altaVivencia[0]['idVivencia']}}</h2>
            <h2 *ngIf="estado == false">No se pudo crear la vivencia</h2>
        </div>
    </div>
</div>