h2{
    color: #FDBD0D;
    font-weight: 800;
}
label{
    color: #39D070;
    font-weight: 600;
}
input[type="submit"]{
    width: max-content;
    padding: .9rem;
    background-color: #39D070;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: .3s;
}
input[type="submit"]:hover{
    background-color: #30b460;
}
input{
    border:2px solid #aaa;
    border-radius:4px;
    outline:none;
    padding:8px;
    transition:.3s;
}
input:focus{
    border-color: #39D070;
    box-shadow:0 0 8px 0 #39D070;
}
.inputs-form{
    display: grid;
    grid-template-columns: 90%;
    row-gap: 1rem;
    margin: 1rem 0;
}