<h1>Cuaderno de bitácora del Camino Ignaciano</h1>
<div *ngIf="vivencias.length > 0">
     <h2>{{ textoPortada }}</h2>

     <div *ngIf="imagen != null">
          <p>Imagen portada</p>
          <img [src]="imagen">
     </div>

     <div id="vivencias" *ngIf="vivencias.idEtapa != null">
          <div class="container-vivencias mat-elevation-z4"
               *ngFor="let vivencia of vivencias"
               (click)="clickEtapa(vivencia.idEtapa)"
               matRipple
               [matRippleCentered]="centered"
               [matRippleDisabled]="disabled"
               [matRippleUnbounded]="unbounded"
          >
          Vivencia <b>{{vivencia.idEtapa}}</b>
          </div>
     </div>
     <p>No hay vivencias. Crea la tuya pulsando el botón "+" de la esquina de la pantalla.</p>
     <h3>{{textoContraPortada}}</h3>

     <!-- Botón para añadir una vivencia... -->
     <button routerLink="/alta-vivencia" *ngIf="vivencias.length > 0" mat-fab aria-label="Añada una vivencia">
          <mat-icon>add</mat-icon>
     </button>
</div>
<div *ngIf="vivencias.length < 1">
     Actualmente no hay vivencias creadas para listar...
</div>
<!-- Botón para añadir un cuaderno... -->
<button routerLink="/alta" *ngIf="vivencias.length < 1" mat-fab aria-label="Crea tu cuaderno">
     <mat-icon>add</mat-icon>
</button>