<h1>Cuaderno de bitácora del Camino Ignaciano</h1>
<h2>{{ textoPortada }}</h2>

<p>Imagen portada</p>
<img [src]="imagen">

<div id="vivencias" *ngIf="vivencias.length > 0 && vivencias.idEtapa != null">
     <div class="container-vivencias mat-elevation-z4"
          *ngFor="let vivencia of vivencias"
          (click)="clickEtapa(vivencia.idEtapa)"
          matRipple
          [matRippleCentered]="centered"
          [matRippleDisabled]="disabled"
          [matRippleUnbounded]="unbounded"
     >
     Vivencia <b>{{vivencia.idEtapa}}</b>
     </div>
</div>
<div *ngElse>
     No hay vivencias
</div>
<h3>{{textoContraPortada}}</h3>