<h3>Tu Cuaderno</h3>

<form [formGroup]="formulario" action="" method="POST"  (ngSubmit)="onSubmit()">

  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput disabled value="Cuaderno de bitácora del Camino Ignaciano">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Texto de portada</mat-label>
    <input matInput placeholder="Escriba aquí un texto para su portada..." formControlName="textoPortada" value="{{valuePortada}}" required>
    <mat-error *ngIf="textoPortada.invalid">{{obtenerErrores()}}</mat-error>
  </mat-form-field>

  <!-- Sección de imagenes... Si no hay datos no se muestra. -->
  <div *ngIf="idCuaderno != null ">
    <label for="imagen">Imagen</label><br />
    <!--Imagen del usuario e imagen por defecto -->
    <img id="previsualizar" *ngIf="imgPrevisualizacion != null" [src]="imgPrevisualizacion">
    <img id="previsualizar" *ngIf="imgPrevisualizacion == null" src="../../assets/interrogacion.png">
    <!-- FIN Imagen del usuario e imagen por defecto -->

    <input #imageInput type=file accept='image/*' (change)=procesarImagen(imageInput)><br />
    <br />
    <div (click)="eliminarFoto()">
      Eliminar foto
      <img  src="../../assets/deleteIcon.png">
    </div>
  </div><br />

  <mat-form-field appearance="fill">
    <mat-label>Texto de Contraportada</mat-label>
    <textarea matInput placeholder="Escriba aqui un texto para su contraportada..." value="{{valueContraPortada}}" formControlName="contraportada"></textarea>
  </mat-form-field>
  <div>
    <!-- Botón de modificar ( si no hay datos está deshabilitado...) -->
    <button class="button" *ngIf="idCuaderno != null" mat-raised-button color="primary" type="submit">Modificar</button>
    <button class="button" *ngIf="idCuaderno == null" disabled mat-raised-button color="primary" type="submit">Modificar</button>
  </div>
</form>